<body>
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h4>Location</h4>
					<p>
						Foughts Entertainment<br/>
						+254711876778, <br/>
						Hurlingum, SNairobi.
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-6">
					<h4>Socialize With me</h4>
					<p>
						<a href="#">Facebook</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Instrgram</a><br>
            <a href="#">Linkdin</a>

					</p>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="assets/js/bootstrap.min.js"></script> -->
  </body>
